---
layout: default
title: Reading List
---
<h1 style>Reading list:</h1>

Java:
<ul>
  {% assign javabooks = site.books | where: "language", "Java" %}
  {% for book in javabooks %}
  <li>{{ book.name }} by {{ book.author }}</li>
  {% endfor %}
</ul>

Scala:
<ul>
  {% assign scalabooks = site.books | where: "language", "Scala" %}
  {% for book in scalabooks %}
  <li>{{ book.name }} by {{ book.author }}</li>
  {% endfor %}
</ul>

Haskell:
<ul>
  {% assign haskellbooks = site.books | where: "language", "Haskell" %}
  {% for book in haskellbooks %}
  <li>{{ book.name }} by {{ book.author }}</li>
  {% endfor %}
</ul>

Clojure:
<ul>
  {% assign clojurebooks = site.books | where: "language", "Clojure" %}
  {% for book in clojurebooks %}
  <li>{{ book.name }} by {{ book.author }}</li>
  {% endfor %}
</ul>
